include options.cfg
include Makefile
include Deps/*
include pyLOM/inp_out/*.pyx
exclude pyLOM/inp_out/*.c
exclude pyLOM/inp_out/*.html
include pyLOM/vmmath/*.pyx
include pyLOM/vmmath/src/*
exclude pyLOM/vmmath/*.c
exclude pyLOM/vmmath/*.html
include pyLOM/POD/*.pyx
exclude pyLOM/POD/*.c
exclude pyLOM/POD/*.html
include pyLOM/DMD/*.pyx
exclude pyLOM/DMD/*.c
exclude pyLOM/DMD/*.html
include pyLOM/SPOD/*.pyx
exclude pyLOM/SPOD/*.c
exclude pyLOM/SPOD/*.html
exclude Testsuite/*
exclude Examples/*
exclude Tools/*