name: Build GNU
run-name: Building pyLOM GCC on branch <${{ github.head_ref }}> to <${{ github.base_ref }}> by @${{ github.actor }}

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main", "develop" ]

defaults:
  run:
    shell: bash

jobs:    
  build_gcc:
    runs-on: ubuntu-22.04
    env:
      CC: mpicc
      CXX: mpc++
      FC: mpif90
    steps:
      # Free up some disk space in the runner
      - name: Maximize build space
        uses: AdityaGarg8/remove-unwanted-software@v4.1
        with:
          remove-android: 'true'
          remove-dotnet:  'true'
          remove-haskell: 'true'
          remove-codeql:  'true'
      - uses: actions/checkout@v3
      # Setup MPI and Python for this job
      - name: Setup MPI
        uses: mpi4py/setup-mpi@v1
        with:
          mpi: openmpi
      - name: Set up Python 3.9.5
        uses: actions/setup-python@v3
        with:
          python-version: 3.9.5
      # Run pyLOM compilation and deployment
      - name: Set up configuration
        run: |
          sed -i 's/USE_MKL       = ON/USE_MKL       = OFF/g' options.cfg
          sed -i 's/FORCE_GCC     = OFF/FORCE_GCC     = ON/g' options.cfg
      - name: Set up dependencies
        run: make deps requirements_full
#      - name: Fix h5py
#        run: CC=mpicc HDF5_MPI="ON" pip install --no-binary=h5py h5py
      - name: Build compiled code
        run: make python
      - name: Install
        run: make install
